@page
@model CaracteristicasModel

<h1>Lista de Características</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lista)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
            </tr>
        }
    </tbody>
</table>